<div>
  <!-- 头部 -->
  <Header :index="-1"></Header>
  <!-- 内容 -->
  <div class="content container d-flex justify-content-center">
    <div class="register">
      <div class="register-title">新会员注册</div>
      <div class="register-description">我们需要一些关于你的基本信息来完成注册。如果您已经是注册会员，请您可以直接 登录。</div>
      <b-form-group
        id="fieldset1"
        label="登录账号"
        label-for="input1">
        <b-form-input id="input1"
                      placeholder="手机号码"></b-form-input>
      </b-form-group>
      <div></div>
      <b-form-group
        id="fieldset1"
        label="密码"
        label-for="input1">
        <b-form-input id="input1"
                      placeholder="密码"></b-form-input>
      </b-form-group>
      <b-form-group
        id="fieldset1"
        label="确认密码"
        label-for="input1">
        <b-form-input id="input1"
                      placeholder="确认密码"></b-form-input>
      </b-form-group>
      <div class="register-submit">立即注册</div>
    </div>
  </div>
  <!-- 底部 -->
  <Footer></Footer>
</div>
