.content {
  margin-top: 50px;
}

.register {
  width: 590px;
  border: 1px solid #e3e3e3;
  background-color: #fdfdfd;
  padding: 20px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}

.register-title {
  margin-top: 20px;
  font-size: 22px;
}

.register-description {
  margin-top: 10px;
  margin-bottom: 30px;
}

.register-submit {
  width: 90px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
  background-color: #FF6402;
  cursor: pointer;
  margin-top: 30px;
}
