.index-bg {
  width: 100%;
  height: 100vh;
  background-image: url('../assets/img/bg.png');
  background-size: 100% 100%;
}
.index-logo {
  width: 100%;
  padding-top: 15%;
}
.index-logo img {
  display: block;
  width: 672px;
  margin: 0 auto;
}
.index-btns {
  text-align: center;
  margin-top: 30px;
}
.index-btns .btn-item {
  display: inline-block;
  width: 138px;
  cursor: pointer;
}
.index-btns .btn-item + .btn-item {
  margin-left: 40px;
}
.index-btns .btn-item img {
  height: 138px;
  margin-bottom: 10px;
}
.index-btns .btn-item span {
  font-size: 14px;
  color: #900606;
  font-weight: bold;
}