<div class="index-bg">
  <div class="index-logo">
    <bImg :src="logo" fluid alt="logo"></bImg>
  </div>
  <div class="index-btns">
    <div class="btn-item">
      <bImg :src="btn01" fluid alt="menu"></bImg>
      <span>综合党委</span>
    </div>
    <div class="btn-item">
      <bImg :src="btn02" fluid alt="menu"></bImg>
      <span>园区党建</span>
    </div>
    <div class="btn-item">
      <bImg :src="btn03" fluid alt="menu"></bImg>
      <span>党群联动</span>
    </div>
    <div class="btn-item">
      <bImg :src="btn04" fluid alt="menu"></bImg>
      <span>活动预告</span>
    </div>
    <div class="btn-item">
      <bImg :src="btn05" fluid alt="menu"></bImg>
      <span>双向认领</span>
    </div>
    <div class="btn-item">
      <bImg :src="btn06" fluid alt="menu"></bImg>
      <span>政策指引</span>
    </div>
  </div>
</div>
