<div>
  <!-- 头部 -->
  <Header></Header>
  <!-- 广告 -->
  <div class="banner container">
    <b-carousel id="carousel1"
                controls
                indicators
                background="#ababab"
                :interval="4000"
                img-width="1200"
                img-height="600"
    >
      <b-carousel-slide caption="First slide"
                        text="Nulla vitae elit libero, a pharetra augue mollis interdum."
                        img-src="/static/image/5.jpg"></b-carousel-slide>
      <b-carousel-slide caption="First slide"
                        text="Nulla vitae elit libero, a pharetra augue mollis interdum."
                        img-src="/static/image/5.jpg"></b-carousel-slide>
      <b-carousel-slide caption="First slide"
                        text="Nulla vitae elit libero, a pharetra augue mollis interdum."
                        img-src="/static/image/5.jpg"></b-carousel-slide>
    </b-carousel>
    <!--<div class="banner-menu">-->

    <!--</div>-->
  </div>
  <!-- 特卖专场 -->
  <div class="super container d-flex justify-content-between">
    <b-img clase="super-item" src="/static/image/0.png" alt=""/>
    <b-img clase="super-item" src="/static/image/1.png" alt=""/>
    <b-img clase="super-item" src="/static/image/2.png" alt=""/>
  </div>
  <div class="super container d-flex justify-content-between">
    <b-img clase="super-item-2" src="/static/image/3.png" alt=""/>
    <b-img clase="super-item-2" src="/static/image/4.png" alt=""/>
  </div>
  <!-- 新品首发 -->
  <div class="new-title container">
    新品首发
  </div>
  <div class="new container d-flex justify-content-between">
    <div class="new-item">
      <b-img clase="" src="/static/image/6.png" alt=""/>
      <div class="new-item-name">叶子样式腰部被拉练的礼服</div>
      <div class="new-item-price">￥33.00</div>
    </div>
    <div class="new-item">
      <b-img clase="" src="/static/image/7.png" alt=""/>
      <div class="new-item-name">叶子样式腰部被拉练的礼服</div>
      <div class="new-item-price">￥33.00</div>
    </div>
    <div class="new-item">
      <b-img clase="" src="/static/image/8.png" alt=""/>
      <div class="new-item-name">叶子样式腰部被拉练的礼服</div>
      <div class="new-item-price">￥33.00</div>
    </div>
    <div class="new-item">
      <b-img clase="" src="/static/image/9.png" alt=""/>
      <div class="new-item-name">叶子样式腰部被拉练的礼服</div>
      <div class="new-item-price">￥33.00</div>
    </div>
  </div>
  <!-- 热卖爆款 -->
  <div class="hot-title container">
    热卖爆款
  </div>
  <div class="hot container d-flex justify-content-between">
    <div class="hot-item">
      <b-img clase="" src="/static/image/6.png" alt=""/>
      <div class="hot-item-name">叶子样式腰部被拉练的礼服</div>
      <div class="hot-item-price">￥33.00</div>
    </div>
    <div class="hot-item">
      <b-img clase="" src="/static/image/7.png" alt=""/>
      <div class="hot-item-name">叶子样式腰部被拉练的礼服</div>
      <div class="hot-item-price">￥33.00</div>
    </div>
    <div class="hot-item">
      <b-img clase="" src="/static/image/8.png" alt=""/>
      <div class="hot-item-name">叶子样式腰部被拉练的礼服</div>
      <div class="hot-item-price">￥33.00</div>
    </div>
    <div class="hot-item">
      <b-img clase="" src="/static/image/9.png" alt=""/>
      <div class="hot-item-name">叶子样式腰部被拉练的礼服</div>
      <div class="hot-item-price">￥33.00</div>
    </div>
  </div>
  <!-- 人气设计 -->
  <div class="design-title container">
    人气设计
  </div>
  <div class="design container d-flex justify-content-between">
    <div class="design-item">
      <b-img class="design-item" src="/static/image/10.png" alt=""/>
      <b-img class="design-item-2" src="/static/image/11.png" alt=""/>
    </div>
    <div class="design-item">
      <b-img class="design-item" src="/static/image/12.png" alt=""/>
      <b-img class="design-item-2" src="/static/image/13.png" alt=""/>
    </div>
    <div class="design-item">
      <b-img class="design-item" src="/static/image/14.png" alt=""/>
      <b-img class="design-item-2" src="/static/image/15.png" alt=""/>
    </div>
  </div>
  <!-- 人气设计 -->
  <Footer></Footer>
</div>
