<div>
  <!-- 头部 -->
  <Header :index="1"></Header>
  <!-- 导航 -->
  <div class="navigation container d-flex align-items-center flex-row">
    <b-img clase="navigation-home-image"
           width="16"
           height="16"
           src="../static/image/navigation-home.png"
           alt=""/>
    <p class="navigation-home-text">首页</p>
    <p class="navigation-to">></p>
    <p class="navigation-home-text">找新款</p>
    <p class="navigation-to">></p>
    <p class="navigation-home-text">发夹</p>
  </div>
  <div class="category container d-flex">
    <div class="category-left d-flex">
      <div class="category-title">所有类目:</div>
      <div class="category-tag d-flex justify-content-between">
        <span>发夹</span>
        <div class="category-tag-close d-flex justify-content-center align-items-center">
          <b-img clase="category-tag-close-image"
                 width="17"
                 height="16"
                 src="../static/image/category-close.png"
                 alt=""/>
        </div>
      </div>
    </div>
    <div class="category-right">
      共239984件相关产品
    </div>
  </div>
  <div class="category container">
    <b-list-group>
      <b-list-group-item class="category-list-item d-flex align-items-center flex-row">
        <div class="category-list-item-title">分类:</div>
        <div class="category-list-item-name">发夹</div>
        <div class="category-list-item-name">发箍</div>
        <div class="category-list-item-name">发圈</div>
        <div class="category-list-item-name">皇冠</div>
        <div class="category-list-item-name">发梳</div>
      </b-list-group-item>
      <b-list-group-item class="category-list-item d-flex align-items-center flex-row">
        <div class="category-list-item-title">风格:</div>
        <div class="category-list-item-name">欧美</div>
        <div class="category-list-item-name">韩版</div>
        <div class="category-list-item-name">民族</div>
        <div class="category-list-item-name">卡通</div>
        <div class="category-list-item-name">简约</div>
      </b-list-group-item>
      <b-list-group-item class="category-list-item d-flex align-items-center">材质:</b-list-group-item>
      <b-list-group-item class="category-list-item d-flex align-items-center">颜色:</b-list-group-item>
      <b-list-group-item class="category-list-item d-flex align-items-center">价格:</b-list-group-item>
    </b-list-group>
  </div>
  <!-- 列表 -->
  <div class="product container d-flex justify-content-between flex-wrap">
    <div class="product-item">
      <b-img clase="" src="../static/image/6.png" alt=""/>
      <div class="product-item-name">叶子样式腰部被拉练的礼服</div>
      <div class="product-item-price">￥33.00</div>
    </div>
    <div class="product-item">
      <b-img clase="" src="../static/image/7.png" alt=""/>
      <div class="product-item-name">叶子样式腰部被拉练的礼服</div>
      <div class="product-item-price">￥33.00</div>
    </div>
    <div class="product-item">
      <b-img clase="" src="../static/image/8.png" alt=""/>
      <div class="product-item-name">叶子样式腰部被拉练的礼服</div>
      <div class="product-item-price">￥33.00</div>
    </div>
    <div class="product-item">
      <b-img clase="" src="../static/image/9.png" alt=""/>
      <div class="product-item-name">叶子样式腰部被拉练的礼服</div>
      <div class="product-item-price">￥33.00</div>
    </div>
    <div class="product-item">
      <b-img clase="" src="../static/image/6.png" alt=""/>
      <div class="product-item-name">叶子样式腰部被拉练的礼服</div>
      <div class="product-item-price">￥33.00</div>
    </div>
    <div class="product-item">
      <b-img clase="" src="../static/image/7.png" alt=""/>
      <div class="product-item-name">叶子样式腰部被拉练的礼服</div>
      <div class="product-item-price">￥33.00</div>
    </div>
    <div class="product-item">
      <b-img clase="" src="../static/image/8.png" alt=""/>
      <div class="product-item-name">叶子样式腰部被拉练的礼服</div>
      <div class="product-item-price">￥33.00</div>
    </div>
    <div class="product-item">
      <b-img clase="" src="../static/image/9.png" alt=""/>
      <div class="product-item-name">叶子样式腰部被拉练的礼服</div>
      <div class="product-item-price">￥33.00</div>
    </div>
    <div class="product-item">
      <b-img clase="" src="../static/image/6.png" alt=""/>
      <div class="product-item-name">叶子样式腰部被拉练的礼服</div>
      <div class="product-item-price">￥33.00</div>
    </div>
    <div class="product-item">
      <b-img clase="" src="../static/image/7.png" alt=""/>
      <div class="product-item-name">叶子样式腰部被拉练的礼服</div>
      <div class="product-item-price">￥33.00</div>
    </div>
    <div class="product-item">
      <b-img clase="" src="../static/image/8.png" alt=""/>
      <div class="product-item-name">叶子样式腰部被拉练的礼服</div>
      <div class="product-item-price">￥33.00</div>
    </div>
    <div class="product-item">
      <b-img clase="" src="../static/image/9.png" alt=""/>
      <div class="product-item-name">叶子样式腰部被拉练的礼服</div>
      <div class="product-item-price">￥33.00</div>
    </div>
  </div>
  <!-- 底部 -->
  <Footer></Footer>
</div>
