<div>
  <!-- 头部 -->
  <Header :index="1"></Header>
  <!-- 导航 -->
  <div class="navigation container">
    首页 > 找新款 > 发夹
  </div>
  <div class="category container d-flex">
    <div class="category-left d-flex">
      <div class="category-title">所有类目:</div>
      <div class="category-tag d-flex justify-content-between">
        <span>发夹</span>
        <div class="category-tag-close">X</div>
      </div>
    </div>
    <div class="category-right">
      共239984件相关产品
    </div>
  </div>
  <div class="category container">
    <b-list-group>
      <b-list-group-item>分类:</b-list-group-item>
      <b-list-group-item>风格:</b-list-group-item>
      <b-list-group-item>材质:</b-list-group-item>
      <b-list-group-item>颜色:</b-list-group-item>
      <b-list-group-item>价格:</b-list-group-item>
    </b-list-group>
  </div>
  <!-- 列表 -->
  <div class="product container d-flex justify-content-between flex-wrap">
    <div class="product-item">
      <b-img clase="" src="../static/image/6.png" alt=""/>
      <div class="product-item-name">叶子样式腰部被拉练的礼服</div>
      <div class="product-item-price">￥33.00</div>
    </div>
    <div class="product-item">
      <b-img clase="" src="../static/image/7.png" alt=""/>
      <div class="product-item-name">叶子样式腰部被拉练的礼服</div>
      <div class="product-item-price">￥33.00</div>
    </div>
    <div class="product-item">
      <b-img clase="" src="../static/image/8.png" alt=""/>
      <div class="product-item-name">叶子样式腰部被拉练的礼服</div>
      <div class="product-item-price">￥33.00</div>
    </div>
    <div class="product-item">
      <b-img clase="" src="../static/image/9.png" alt=""/>
      <div class="product-item-name">叶子样式腰部被拉练的礼服</div>
      <div class="product-item-price">￥33.00</div>
    </div>
    <div class="product-item">
      <b-img clase="" src="../static/image/6.png" alt=""/>
      <div class="product-item-name">叶子样式腰部被拉练的礼服</div>
      <div class="product-item-price">￥33.00</div>
    </div>
    <div class="product-item">
      <b-img clase="" src="../static/image/7.png" alt=""/>
      <div class="product-item-name">叶子样式腰部被拉练的礼服</div>
      <div class="product-item-price">￥33.00</div>
    </div>
    <div class="product-item">
      <b-img clase="" src="../static/image/8.png" alt=""/>
      <div class="product-item-name">叶子样式腰部被拉练的礼服</div>
      <div class="product-item-price">￥33.00</div>
    </div>
    <div class="product-item">
      <b-img clase="" src="../static/image/9.png" alt=""/>
      <div class="product-item-name">叶子样式腰部被拉练的礼服</div>
      <div class="product-item-price">￥33.00</div>
    </div>
    <div class="product-item">
      <b-img clase="" src="../static/image/6.png" alt=""/>
      <div class="product-item-name">叶子样式腰部被拉练的礼服</div>
      <div class="product-item-price">￥33.00</div>
    </div>
    <div class="product-item">
      <b-img clase="" src="../static/image/7.png" alt=""/>
      <div class="product-item-name">叶子样式腰部被拉练的礼服</div>
      <div class="product-item-price">￥33.00</div>
    </div>
    <div class="product-item">
      <b-img clase="" src="../static/image/8.png" alt=""/>
      <div class="product-item-name">叶子样式腰部被拉练的礼服</div>
      <div class="product-item-price">￥33.00</div>
    </div>
    <div class="product-item">
      <b-img clase="" src="../static/image/9.png" alt=""/>
      <div class="product-item-name">叶子样式腰部被拉练的礼服</div>
      <div class="product-item-price">￥33.00</div>
    </div>
  </div>
  <!-- 底部 -->
  <Footer></Footer>
</div>
