.navigation {
  height: 30px;
  margin-top: 20px;
}

.navigation-home-image {
  width: 16px;
  height: 16px;
}

.navigation-home-text {
  margin-top: 3px;
  margin-left: 5px;
}

.navigation-to {
  margin-left: 10px;
  margin-right: 10px;
}

.category {
  margin-top: 20px;
}

.category-left {
  flex: 1;
}

.category-right {

}

.category-title {
  height: 30px;
  line-height: 30px;
  margin-right: 20px;
}

.category-tag {
  height: 30px;
  line-height: 30px;
  border: 1px solid #E8E8E8;
  padding-left: 10px;
}

.category-tag-close {
  width: 28px;
  height: 28px;
  cursor: pointer;
}

.category-tag-close-image {
  width: 17px;
  height: 16px;
}

.category-list-item {
  height: 45px;
}

.category-list-item-title {
  width: 80px;
}

.category-list-item-name {
  margin-right: 30px;
  cursor: pointer;
}

.product {
  margin-top: 30px;
}

.product-item {
  width: 288px;
  margin-top: 30px;
}

.product-item-name {
  margin-top: 10px;
  font-size: 14px;
}

.product-item-price {
  font-size: 20px;
  color: #FF6402;
}
