.navigation {
  margin-top: 20px;
  font-size: 14px;
  color: #636363;
}

.content {
  margin-top: 50px;
}

.content-title {
  font-size: 26px;
  margin-bottom: 30px;
}

.content-description {
  font-size: 15px;
  margin-top: 10px;
}

.content-button {

}

.content-button-submit {
  width: 64px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
  background-color: #FF6402;
  cursor: pointer;
  margin-top: 30px;
}

.list-item {

}

.list-item-image {

}

.list-item-name {
  flex: 1;
}

.list-item-type {

}

.list-item-number {

}

.list-item-price {

}

.list-item-total {
  
}
