<div>
  <!-- 头部 -->
  <Header :index="1"></Header>
  <!-- 导航 -->
  <div class="navigation container">
    首页 > 找新款 > 发夹
  </div>
  <!-- 内容 -->
  <div class="content container">
    <div class="content-title">
      我的购物车
    </div>
    <!--<div class="content-description">-->
    <!--您的购物袋是空的...-->
    <!--</div>-->
    <div class="list-item d-flex">
      <div class="list-item-image">1</div>
      <div class="list-item-name">2</div>
      <div class="list-item-type">3</div>
      <div class="list-item-number">4</div>
      <div class="list-item-price">5</div>
      <div class="list-item-total">6</div>
    </div>
    <div class="content-button d-flex justify-content-end">
      <div class="content-button-submit">继续</div>
    </div>
  </div>
  <!-- 底部 -->
  <Footer></Footer>
</div>
