<div>
  <div class="header">
    <div class="header-content container d-flex justify-content-between align-items-center">
      <a href="" class="header-content-welcome">欢迎来趣找款</a>
      <div class="header-content-navigation">
        <a class="header-content-navigation-text"
           href="">我的趣找款</a>
        |
        <a class="header-content-navigation-text"
           href="">进货车</a>
        |
        <a class="header-content-navigation-text"
           href="">收藏夹</a>
        |
        <a class="header-content-navigation-text"
           href="">我是设计师</a>
        |
        <a class="header-content-navigation-text"
           href="">我是供应商</a>
        |
        <a href="" class="header-content-navigation-text"
           href="">客服中心</a>
      </div>
    </div>
  </div>
  <div class="content container d-flex justify-content-between align-items-center">
    <div>logo</div>
    <div class="content-search d-flex justify-content-between">
      <div class="content-search-input"></div>
      <div class="content-search-submit">搜索</div>
    </div>
  </div>
  <div class="menu">
    <div class="menu-content container d-flex">
      <div class="menu-content-home-active">首页</div>
      <div class="menu-content-item">找新款</div>
      <div class="menu-content-item">找爆款</div>
      <div class="menu-content-item">趣搭配</div>
      <div class="menu-content-item">找代工</div>
      <div class="menu-content-item">要政策</div>
    </div>
  </div>
</div>
