<div>
  <div class="header">
    <div class="header-content container d-flex justify-content-between align-items-center">
      <a href="/index.html" class="header-content-welcome">欢迎来趣找款</a>
      <div class="header-content-navigation">
        <a class="header-content-navigation-text"
           href="/login/index.html">我的趣找款</a>
        |
        <a class="header-content-navigation-text"
           href="">进货车</a>
        |
        <a class="header-content-navigation-text"
           href="">收藏夹</a>
        |
        <a class="header-content-navigation-text"
           href="">我是设计师</a>
        |
        <a class="header-content-navigation-text"
           href="">我是供应商</a>
        |
        <a href="" class="header-content-navigation-text"
           href="">客服中心</a>
      </div>
    </div>
  </div>
  <div class="content container d-flex justify-content-between align-items-center">
    <div>logo</div>
    <div class="content-search d-flex justify-content-between">
      <div class="content-search-input"></div>
      <div class="content-search-submit">搜索</div>
    </div>
  </div>
  <div class="menu">
    <div class="menu-content container d-flex">
      <a :class="index == 0 ? 'menu-content-home-active' : 'menu-content-home'" href="/index.html">首页</a>
      <a :class="index == 1 ? 'menu-content-item-active' : 'menu-content-item'" href="/product/list.html">找新款</a>
      <a class="menu-content-item" href="/product/list.html">找爆款</a>
      <a class="menu-content-item" href="/product/list.html">趣搭配</a>
      <a class="menu-content-item" href="/product/list.html">找代工</a>
      <a class="menu-content-item" href="/product/list.html">要政策</a>
    </div>
  </div>
</div>
