<div>
  <div class="header">
    <div class="header-content container d-flex justify-content-between align-items-center">
      <div class="header-content-welcome">欢迎来趣找款采购平台</div>
      <div class="header-content-navigation"><span class="header-content-navigation-text">我的趣找款</span>   |   <span class="header-content-navigation-text">进货车</span>   |   <span class="header-content-navigation-text">收藏夹</span>   |   <span class="header-content-navigation-text">我是设计师</span>   |   <span class="header-content-navigation-text">我是供应商</span>   |   <span class="header-content-navigation-text">客服中心</span> </div>
    </div>
  </div>
  <div class="content container d-flex justify-content-between align-items-center">
    <div>logo</div>
    <div>search</div>
  </div>
  <div class="menu">
    <div class="menu-content container d-flex">
      <div class="menu-content-home-active">首页</div>
      <div class="menu-content-item">找新款</div>
      <div class="menu-content-item">找爆款</div>
      <div class="menu-content-item">趣搭配</div>
      <div class="menu-content-item">找代工</div>
      <div class="menu-content-item">要政策</div>
    </div>
  </div>
</div>
